<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Post</title>
</head>
<body>

    <div class="newPost">
        <p><b>Edit Post</b></p>

        <div>
            <span><b>ID: <%= post.id %></b></span>
            <span><b>Username: @<%= post.username %></b></span>
        </div>
    
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
            <div class="postContent">
                <textarea name="content" placeholder="enter comment" rows="5" required> <%= post.content %> </textarea>
                <button>Edit</button>
            </div>
        </form>
    </div>

</body>
</html>